// Cores claras
$background-light: #f2f2f2;
$botao-barraLateral : #d1d1e0;
$hover-botoes : #b3c6ff;
$bg-cartoes : #d6e0f5;
$cor-texto : #000000;
$borda-preta : #000000;
$botoes-produtos : #e0e0eb;
$botoes-produtos-hover : #d0d0e1;

// Cores escuras
$background-dark: #1c1c1c;
$botao-barraLateral-dark: #2e2e2e;
$hover-botoes-dark: #4d4d4d;
$bg-cartoes-dark: #3a3a3a;
$cor-texto-dark: #f2f2f2;
$borda-preta-dark: #f2f2f2;

//deps
$laranjaDeps : #ff6600;
$azulDeps : #004080;