hr{
    height: 1px;
    width: 100%;
}
#container{
    display: flex;
    height: 1000px;
    background-color: #f2f2f2;
}
nav{
    background-color: #f2f2f2;
}
.containerBarraLateral{
    margin-top: 10px;
    margin-left: 50px;
    width: 20%;
}

.botao-produtos{
    display: block;
    padding-left: 15px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    text-align: left;
    padding-top: 10px;
}
.botao-produtos:hover{
    background-color: #d1d1e0;
}

label{
    width: 100%;
    border-radius: 5px;
    height: 50px;
}

input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label  {
    background-color: #d0d0e1;
}

.titulosBarraLateral{
    margin-top:20px ;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
}

.containerFuncoes{
    margin-left: 30px;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.inputCadastro{
    width: 620px;
}
.botao-cadastrar-produto{
    margin-left: 20px;
    width: 180px;
    border-radius: 6px;
    background-color:#e0e0eb;
    border: 0px;
}

.botao-cadastrar-produto:hover{
    background-color:#d0d0e1
}

.tabelaDeProdutos{
    margin-top: 30px;
    margin-left: 20px;
    width: 90%;
}
.btn{
    float: right;
}
td{
    vertical-align: middle;
}
.botao-deletar{
    display: flex;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    background-color: #d1d1e0;
    float: right;
    padding-left: 17px;
    text-align: center;
    line-height: 40px;
    height: 45px;
    color: #cc0000;
    font-weight: 500;
}
.botao-deletar:hover{
    border: solid 1px red;
}