.tabelaProdutos {
  height: auto;
  overflow-x: auto;
  width: 100%;
}

.headerTabelaProdutos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
}

.headerTabelaProdutos button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.headerTabelaProdutos button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.headerTabelaProdutos button:active {
  background-color: #004085;
  transform: scale(0.95);
}

.btn-info:hover {
  color: #fff;
}

.inputsBusca,
.headerTabelaProdutos select {
  height: 100%;
  padding: 0.5rem;
  margin: 0 .5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.headerTabelaProdutos select{
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 12px 15px;
}

#ordenarCodigo,
#ordenarNome,
#ordenarPreco,
#ordenarQuantidade {
  cursor: pointer;
}

#ordenarDescricao,
#ordenarUnidade,
#ordernarStatus,
#acoesProdutos {
  cursor: default;
}

.table td {
  padding: 12px 15px;
}

.table td .btn-group {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.seta {
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
  color: gray;
}

th:hover .seta {
  color: black;
}

#btn-edit,
#btn-delete {
  width: 90%;
}
