modal .botao-editar hr {
  height: 1px;
  width: 100%;
}

body {
  width: 100%;
  background-color: #f2f2f2;
}
modal-buttons
textarea {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.botao-produtos {
  display: block;
  padding-left: 15px;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-top: 10px;
  cursor: pointer;
}

.botao-produtos:hover {
  background-color: #d1d1e0;
}

label {
  width: 100%;
  border-radius: 5px;
  height: 50px;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked+label {
  background-color: #d1d1e0;
}

.titulosBarraLateral {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}

.modal-align{
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.inputEntrada {
  width: 90%;
}

.botao-cadastrar-produto {
  border-radius: 6px;
  background-color: #e0e0eb;
  border: 0px;
}

.botao-cadastrar-quantidade {
  width: 250px;
  height: 50px;
  border-radius: 6px;
  background-color: #e0e0eb;
  border: 0px;
}

.botao-cadastrar-quantidade:hover {
  background-color: #d0d0e1;
}

.botao-cadastrar-produto:hover {
  background-color: #d0d0e1;
}

.tabelaDeProdutos {
  height: 300px;
  overflow-y: scroll;
  margin-top: 30px;
  margin-left: 20px;
  width: 90%;
}

.btn {
  float: right;
}

td {
  vertical-align: middle;
}

.botao-deletar {
  display: flex;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  background-color: #d1d1e0;
  float: right;
  text-align: center;
  line-height: 40px;
  height: 45px;
  color: #cc0000;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-deletar:hover {
  border: solid 1px red;
}

.botao-editar,
.botao-editar-entradas,
.botao-editar-saidas {
  display: flex;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  background-color: #d1d1e0;
  float: right;
  padding-left: 22px;
  text-align: center;
  line-height: 40px;
  height: 45px;
  color: #006622;
  font-weight: 500;
  cursor: pointer;
}

#dropdown-itens-entradas {
  overflow-y: scroll;
}

#input-nome-produto {
  width: 472px;
}

#input-preco-produto {
  width: 472px;
}

#botao-produtos {
  margin-right: 104px;
}

#message-nome {
  margin-left: 5px;
  color: red;
}

#message-preco {
  color: red;
}

.botao-editar:hover {
  border: solid 1px green;
}

.cadastroProdutos {
  display: block;
}

.saldoProdutos {
  display: none;
}

.entradaProdutos {
  display: none;
}

.saidaProdutos {
  display: none;
}

.center {
  margin-right: 100px;
  text-align: center;
}

.link-clientes-saidas {
  border: 0px;
  background-color: transparent !important;
  text-decoration: none;
  cursor: pointer;
}

#client-list-saidas {
  display: none;
  top: 430px;
  position: absolute;
  float: left;
  width: 477px;
  left: 290px;
  display: flex;
  transition: 0.3s ease-out;
  overflow-y: scroll;
  max-height: 300px;
}

.clientes-card-saidas {
  background-color: #3a3a3a;
  color: black !important;
  top: 100px;
  width: 460px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-out;
}

.clientes-card-saidas:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.client-card-saidas.hidden {
  opacity: 0;
}

.select-entradas {
  height: 50px;
}

.iconeDeletar {
  height: 50px;
  width: 50px;
}

#modal,
#modal-entradas,
#modal-saidas {
  border-radius: 30px;
  top: 100px;
  margin: 0 auto;
  position: absolute;
  background: #d1d1e0;
  display: none;
  flex-direction: row;
}

.modal-content-descricao {
  background-color: #d1d1e0;
  width: 300px;
  height: 500px;
  float: right;
  border-radius: 5px;
  padding-top: 60px;
}

.modal-content {
  background-color: #d1d1e0;
  padding: 20px;
  border-radius: 5px;
}

#modal-entradas .modal-content {
  margin-top: 20px;
  align-items: center;
}

#modal-saidas .modal-content {
  height: 480px;
  margin-top: 20px;
  align-items: center;
  width: 70%;
}

.modal-title {
  font-size: 1.5rem;
  margin-top: 0;
}

.modal-content label {
  height: 20px;
}

#label-modal-descricao {
  height: 35px;
}

input {
  margin-top: 0px;
  height: 40px;
  display: block;
  padding: 2px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}


#cancel-button,
#cancel-button-entradas,
#cancel-button-saidas {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  background-color: #b30000;
}

.save-button {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  background-color: #009933;
}




.dark-mode body {
  background-color: #1c1c1c;
}

.dark-mode p {
  color: #f2f2f2;
}

.dark-mode th {
  color: #f2f2f2;
}

.dark-mode td {
  color: #f2f2f2;
}

.dark-mode input[type=radio]:checked+label {
  background-color: #2e2e2e;
}

.dark-mode .botao-produtos:hover {
  background-color: #4d4d4d;
}

.dark-mode .botao-deletar {
  background-color: #2e2e2e;
  color: #ff1a1a;
}

.dark-mode .botao-deletar:hover {
  border: 1px solid #ff1a1a;
}

.dark-mode .inputForm {
  border: 1px solid #f2f2f2;
}

.dark-mode .botao-cadastrar-produto {
  border: 1px solid #f2f2f2;
  background-color: #2e2e2e;
  color: #f2f2f2;
}

.dark-mode label{
  color: white;
}

.dark-mode .botao-cadastrar-quantidade {
  border: 1px solid #f2f2f2;
  background-color: #2e2e2e;
  color: #f2f2f2;
}

.dark-mode .botao-editar,
.dark-mode .botao-editar-entradas,
.dark-mode .botao-editar-saidas {
  border: 1px solid #004d99;
  background-color: #2e2e2e;
  color: #004d99;
}

.dark-mode #modal,
.dark-mode #modal-entradas,
.dark-mode #modal-saidas {
  background: #2e2e2e;
}

.dark-mode #modal h3,
.dark-mode #modal-entradas h3,
.dark-mode #modal-saidas h3 {
  color: #f2f2f2;
}

.dark-mode select {
  background-color: #3a3a3a;
  color: #f2f2f2;
}

.dark-mode textarea {
  border: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #3a3a3a;
  color: #f2f2f2;
}

.dark-mode .modal-content-descricao {
  background-color: #2e2e2e;
}

.dark-mode .modal-content {
  background-color: #2e2e2e;
}

.dark-mode .modal-title {
  color: #f2f2f2;
}

.dark-mode .modal-content label {
  color: #f2f2f2;
}

.dark-mode #label-modal-descricao {
  color: #f2f2f2;
}

.dark-mode input {
  background-color: #3a3a3a;
  color: #f2f2f2;
}

.dark-mode #cancel-button {
  color: white;
  background-color: red;
}

.dark-mode .save-button {
  color: white;
  background-color: green;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background: #d1d1e0;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 40%
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: end;
}

.close:hover {
  opacity: 0.5;
}

.btnModalExcluir {
  border: 1px solid #f2f2f2;
  background-color: #242424;
  color: #f2f2f2;
  width: 70%;
  height: 50px;
  border-radius: 6px;
}

#containerBotoesModalExcluir {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  color: #FFFF;
  height: 100%;
  font-size: 15px;
}

body.modal-open {
  overflow: hidden;
  height: 100svh;
}

img {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=styleSassEstoque.css.map */